<h1>Welcome to the Numerology Chart Generator!</h1>
<br>
<p>Use this application to create a collection of numerology charts. Compare your numbers with friends'!</p>
<br>
<p>* In simple terms, numerology is a study of numbers in your life. You can uncover information about the world and also each individual person by using Numerology. Numerology is seen as a universal language of numbers.</p>
<br>
<p>* If you are familiar with Astrology, then you may know a little bit about Numerology; it is similar in quite a few ways but uses a different method to get the information and insight: Numbers.</p>
<br>
<p>* Numerology is the idea that the universe is a system and once broken down we are left with the basic elements, which is numbers. These numbers can then be used to help us to better understand the world and ourselves as individuals.</p>
